#intro {
    background-color :rgb(55, 68,88);
}

#intro .textocol {
    color : rgb(73, 124,174);
}

.textocol {
    color : rgb(73, 124,174);
}

.card-img-top{
    height: 240px;
    width: 348px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}


#iconos{
    background-color : rgb(43, 52,63);
}

#iconos img {
    width: 18px;
    height: 18px;
}

